*{
    font-family: sans-serif;
    color: white;
}
.nav{
    height: 30px;
    padding:10px;
    background-color:rgb(83, 83, 83);
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.nav-title{
   font-weight: bold;
}

.nav-links{
    width:50% ;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
ul {
    list-style-type: none;
  }
  .btn {
    background-color:rgba(41, 207, 207, 0.781);
    box-shadow:3px 3px black;
    border: 2px solid black;
}
a:link {
    text-decoration: none;
  }
  .active {
    font-weight:bolder;

  }